@using BlogCore.Utilidades

<style>
    #tblProveedores th, #tblProveedores td {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .custom-table {
        border-collapse: collapse; /* Para que los bordes de las celdas se unan */
    }

        .custom-table td {
            border-bottom: 1px solid #ccc; /* Línea inferior de 1 píxel sólido de color gris claro */
        }

</style>

<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h2 class="text-primary">Lista de facturas</h2>
        </div>
        <div class="col-4" text-right>
            <a asp-action="Create" class="btn btn-outline-primary">
                <i class="fas fa-plus" style="margin-right: 5px;"></i>
                Subir nueva factura
            </a>
        </div>
    </div>
    <br />
    <div style="display: flex; flex-direction: row; align-items: center; font-family: Arial, sans-serif;">
        <div style="display: flex; align-items: center; margin-right: 20px;">
            <div style="width: 30px; height: 30px; margin-right: 10px; background-color: #ffc107;"></div>
            <span>Validada</span>
        </div>
        <div style="display: flex; align-items: center; margin-right: 20px;">
            <div style="width: 30px; height: 30px; margin-right: 10px; background-color: #00FF19;"></div>
            <span>Pagada</span>
        </div>
        <div style="display: flex; align-items: center; margin-right: 20px;">
            <div style="width: 30px; height: 30px; margin-right: 10px; background-color: #FFF600;"></div>
            <span>Revision</span>
        </div>
        <div style="display: flex; align-items: center; margin-right: 20px;">
            <div style="width: 30px; height: 30px; margin-right: 10px; background-color: #FF0000;"></div>
            <span>Rechazada</span>
        </div>
        <div style="display: flex; align-items: center;">
            <div style="width: 30px; height: 30px; margin-right: 10px; background-color: #A800FF;"></div>
            <span>Complemento &nbsp; S=> Sin complemento C=> Completo I=> Saldo insoluto</span>

        </div>
    </div>
    <br />
    <table id="tblProveedores" class="table table-bordered custom-table" style="font-size: 10px;">
        <thead>
            <tr class="table-primary">
                <th>Estatus</th>
                <th>Orden de compra</th>
                <th>Fecha de registro</th>
                <th>Solicitante</th>
                <th>Moneda</th>
                <th>Monto</th>
                <th>Folio</th>
                <th>Fecha de pago</th>
                <th>Proveedor</th>
                <th>Notas</th>
                <th>Comentarios de seguimiento</th>
                <th>Complemento</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</div>

@{
    bool isAdmin = User.IsInRole(CNT.Admin);
   
}

@section Scripts{
    <script src="~/js/proveedores.js"></script>
    <script>
        var isAdmin = @Html.Raw(Json.Serialize(isAdmin)); // Convertir a JSON y evitar problemas de comillas
    </script>
    
}